.card {
    border: 1px solid white;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 150px;
}

.card img {
    width: 100px;
    border-radius: 6px;
}
