first/algoritmos_e_logica/aula_01/output/inteiros
first/algoritmos_e_logica/aula_01/output/float
first/algoritmos_e_logica/aula_01/output/exercioI
first/algoritmos_e_logica/aula_01/output/aula_I
first/algoritmos_e_logica/aula_01/teste
first/algoritmos_e_logica/aula_01/output/exercdobro
first/algoritmos_e_logica/aula_02/exx01
first/algoritmos_e_logica/.vscode/settings.json
first/algoritmos_e_logica/aula_03/output/ex_07
first/algoritmos_e_logica/aula_03/output/exe_01
first/algoritmos_e_logica/aula_03/output/exe_02
first/algoritmos_e_logica/aula_03/output/exe_03
first/algoritmos_e_logica/aula_03/output/exe_04
first/algoritmos_e_logica/aula_03/output/exe_05
first/algoritmos_e_logica/aula_03/output/teste
first/algoritmos_e_logica/aula_03/output/ex_08
first/algoritmos_e_logica/aula_03/output/desafio
first/algoritmos_e_logica/aula_03/output/ex_10
first/algoritmos_e_logica/aula_03/output/ex_11
first/algoritmos_e_logica/aula_03/output/ex_09
first/algoritmos_e_logica/aula_03/.vscode/settings.json
first/algoritmos_e_logica/aula_03/.vscode/c_cpp_properties.json
.gitignore
first/algoritmos_e_logica/aula_04/output/exemplo
first/algoritmos_e_logica/aula_04/output/maiseigual
first/algoritmos_e_logica/P1/output/questão 02
first/algoritmos_e_logica/P1/output/questão01
first/algoritmos_e_logica/P1/output/questão2
first/algoritmos_e_logica/P1/output/questão1
first/algoritmos_e_logica/P1/output/questão03
first/algoritmos_e_logica/P1/output/teste
first/algoritmos_e_logica/P1/output/teste2
first/algoritmos_e_logica/aula_06/output/exercicio_01
first/algoritmos_e_logica/aula_06/output/exercicio_02
first/algoritmos_e_logica/aula_06/output/exercicio_04
first/algoritmos_e_logica/aula_06/output/exercicio_03
first/algoritmos_e_logica/aula_07/output/exercicio_06
first/algoritmos_e_logica/aula_07/output/exercicio_07
first/algoritmos_e_logica/testemodulo.c
first/algoritmos_e_logica/testemodulo
second/estruturaDados/aula04/output/strucPonteito
second/estruturaDados/aula04/output/struct
second/estruturaDados/aula04/output/structPonteiroVetor
second/estruturaDados/aula05/output/Lista
second/estruturaDados/aula05/output/Lista2
.o 
second/estruturaDados/aula06/output/Lista
second/estruturaDados/aula06/output/listaMostraRemovido
