first/algoritmos_e_logica/aula_01/output/inteiros
first/algoritmos_e_logica/aula_01/output/float
first/algoritmos_e_logica/aula_01/output/exercioI
first/algoritmos_e_logica/aula_01/output/aula_I
first/algoritmos_e_logica/aula_01/teste
first/algoritmos_e_logica/aula_01/output/exercdobro
first/algoritmos_e_logica/aula_02/exx01
