
*{
    text-decoration: none;
}
nav{
    margin: 2%;
}

nav ul{

    padding: 4em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
nav ul li {
    display: inline-block;
    
}
a:visited, 
a:link{
    color: green;
}