@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    text-decoration: none;
}
body{
    background-color: bisque;
    font-family: "Montserrat", sans-serif;
    justify-content: space-around;
}
nav{
    margin: 2%;
}

nav ul{
    background-color: rgb(112, 70, 42);
    border-radius: 120px;
    padding: 2em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: "Concert One", sans-serif;
    
}
nav ul li {
    display: inline-block;
    
}
a:visited, 
a:link{
    color: bisque;
}
main{
    margin: 1em;
    text-align: center;
}
main p{
    text-align: justify;
}
h1{
    font-family: "Concert One", sans-serif;
    font-size: 3em;
    color: rgb(112, 70, 42);
    
}
aside h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2em
}

aside section{
    font-size: 0.4em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: left;
    background-color: coral;

}
footer{
    display: flex;
    justify-content: center;
}
