body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 233, 235);
    color: #313638;
}
main{
    background-color: #E0DFD5;
    padding: 2%;

}
.formulario{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}
.formulario button{
    border: none;
    background-color: #F06543;
    align-self: center;
    width: 80px;
}
.formulario button:hover{
    background-color: #d4593a;
}
.selecao{
    margin: 12px;
    background-color: whitesmoke;
    color: #313638;
    border: none;
    padding: 1%;
}
footer{
    position: absolute;
    margin: 40%;
    text-align: center;
}